#Terraform requirements

1.CPU usage - 10 Terraform runs per CPU core.
2.Memory usage - 512MB/run of terraform (by default terraform allocates 512 MB for its smooth run)
3.Disk - According to the documentation one terraform needs to be allocated around 30-35 IOPS.


Installation and Dependencies
1.install yum-config-manager to manage your repositories.
$ sudo yum install -y yum-utils

2.Use yum-config-manager to add the official HashiCorp Linux repository.
$ sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/AmazonLinux/hashicorp.repo

Install.
3.$ sudo yum -y install terraform
